@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/poppins.ttf');
}

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}
